@charset "utf.8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}


body {
    font-family: "Krub-Regular";
    cursor: url(img/cursor.svg), auto;
}



/*-------------------SECCION HEADER--------------------*/

.header {
background-color: transparent;
display: flex;
justify-content: space-between;
align-items: center;
container-type: inline-size;
container-name: header;
padding: 1rem 0;
position: absolute;
z-index: 10;
width: 100%;
}

.header_open-nav-button {
color: #FFF;
font-size: 3rem;
font-weight: 600;
position: absolute;
right: 10px;
}

.header_checkbox {
display: none;
}

.header_nav {
display: none;
background-color: transparent;
position: absolute;
height: auto;
width: 20vh;
top: 0;
z-index: -1;
}

.header_nav-list {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 2rem;
}

.header_checkbox:checked ~ .header_nav {
display: flex;
align-items: center;
flex-direction: column;
justify-content: flex-end;
}

.header_logo {
max-width: 100%;
width: 80px;
margin: 10px 30px;
}

.header_nav-item {
display: flex;
padding: 0.3rem 1.3rem;
justify-content: center;
align-items: center;
border-radius: 2rem;
border: 1px solid #FFF;
color: #FFF;

text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.header_nav-item a {
color: #FFF;
text-decoration: none;
cursor: url(img/cursor.svg), auto;
}

.header_nav-item:hover {
background-color: #FFF;
border-radius: 2rem;
}

.header_nav-item a:hover {
color: #484848;
background-color: #FFF;
border-radius: 2rem;
}


/*-------------------HEADER QUERIES--------------------*/


@container header (min-width:610px) {
    .header_nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }

    .header_nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 50px;
        margin-right: 40px;
    }

    .header_open-nav-button {
        display: none;
    }

    .header_checkbox:checked {
        display: flex;
        align-items: center;
        background-color: none;
        ;
    }


}

/*-------------------FIN SECCION HEADER--------------------*/


/*-------------------HERO PORTFOLIO----------------

.herobackground {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('img/background/heroindex.jpg') no-repeat center center; cover no-repeat;
    background-size: cover; /
    z-index: -3;
    background-image: url(img/background/heroindex.jpg); 
}----*/

.hero_container {
display: flex;
width: 100%;
height: 100vh;
padding-top: 7rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 8rem;
background-image: url(img/background/heroindex.jpg);
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}

.titulo_container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
}

.titulo_hero {
color: #FFF;
text-align: center;
font-family: Amarante;
font-size: 5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.subtitulo_hero {
color: #FFF;
text-align: center;
font-family: Krub;
font-size: 1.5rem;
}

.portfolio_container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.portfolio2024 {
color: #FFF;
text-align: center;
font-family: Amarante;
font-size: 2rem;
}

/*-----------------------------------------------------HERO SOBRE MI------------------------------------------------------------*/

.hero_container_sobremi {
display: flex;
width: 100%;
height: 100vh;
padding-top: 6rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap:8rem;
background-image: url(img/background/herosobremi.jpg);
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}

.titulo_container_hero {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 0.5rem;
padding-right: 25rem;
}

.subtitulo_hero_sobremi {
color: #FFF;
text-align: left;
font-family: Krub;
font-size: 1rem;
width: 25rem;
}


/*--------------------------------------------BOTON DESLIZAR-------------------------------------------------------------------*/

.gap_deslizar {
padding-top: 2rem;
}

.deslizar {
width: 40px;

}

@keyframes bounce {
    0%, 100% {
transform: translateY(0);
    }

    50% {
    transform: translateY(20px);
    }
}

    .deslizar {
        display: inline-block;
        animation: bounce 2s infinite;
        font-size: 2rem;
        margin: 20px;
    }

/*-------------------SOBRE MI--------------------*/

.datospersonales {
display: flex;
align-items: center;
gap: 20rem;
}

.nombrefotoedad {
display: flex;
flex-direction: column;
align-items: center;
gap: 0.625rem;
color: #484848;
}

.bsas {
color: #484848;
text-align: center;
font-family: Krub;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.lourdestrama {
color: #D9D9D9;
text-align: center;
font-family: Krub;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
padding: 0.5rem 1.875rem;
justify-content: center;
align-items: flex-end;
background-color: #484848;
border-radius: 3rem;
}

.cumpleaños {
text-align: center;
font-family: Amarante;
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.circulo {
height: 10rem;
}

.texto_sobremi {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1.875rem;
color: #484848;
width: 40rem;
}

.titulo_texto_sobremi {
font-family: Krub;
font-size: 1.2rem;
font-style: italic;
font-weight: 500;
line-height: normal;
}

.contenido_texto_sobremi {
font-family: Krub;
font-size: 1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

/*-----------------------------HISTORIAL ACADEMICO---------------------------*/

.container_historialacademico {
display: flex;
justify-content: center;
align-items: center;
gap: 5rem;
}

.article_historialacademico {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
}

.titulo_article_historialacademico {
color: #484848;
font-size: 1rem;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.fechas {
color: #2C5746;
font-size: 0.9rem;
font-style: italic;
font-weight: 500;
line-height: normal;
}

/*----------------------------COMPETENCIAS---------------------------*/

.container_competencias {
display: flex;
padding: 5rem 8rem;
align-items: flex-start;
gap: 10rem;
border-top: 2px solid #2C5746;
border-bottom: 2px solid #2C5746;
justify-content: center;
}

.article_competencias {
display: flex;
width: 20rem;
align-items: flex-start;
align-content: flex-start;
gap: 1rem 1rem;
}

.listas_competencias li {
display: flex;
text-decoration: none;
list-style: none;
padding: 0.5rem;
gap: 0.5rem;
}

/*----------------------------COMPETENCIAS---------------------------*/

.container_servicios {
display: flex;
justify-content: center;
align-items: flex-start;
gap: 5rem;
}

.article_servicios {
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
}

.titulo_servicios {
color: #484848;
text-align: center;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
}

.texto_servicios {
color: #484848;
text-align: center;
font-size: 0.8rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 20rem;
height: 15rem;
}

.gap_pagina_sobremi {
display: flex;
flex-direction: column;
align-items: center;
gap: 8rem;
}


/*-----------------------------------------MEDIA PAGINA SOBREMI-------------------------------------*/


@media (max-width: 600px) {

    .gap_pagina_sobremi {
        gap: 5rem;
        padding-bottom: 5rem;
    }

    .titulo_container_hero {
        padding-right: 20vh;
    }
    .datospersonales {
        display: flex;
        align-items: center;
        gap: 5rem;
        flex-direction: column;
    }

    .texto_sobremi {
        width: auto;
        padding-right: 3rem;
        padding-left: 3rem;
    }

    .container_historialacademico {
        flex-direction: column;
    }

    .container_competencias {
        flex-direction: column;
    }

    .container_servicios {
        flex-direction: column;
        gap: 5rem;
        padding-right: 1rem;
        padding-left: 1rem;
        align-items: center;

    }

    .texto_servicios {
        width: auto;
        height: auto;
    }
}

/*-----------------------------------------MEDIA PAGINA SOBREMI-------------------------------------*/

/*-----------------------------------------PAGINA DE CONTACTOS-------------------------------------*/

.hero_container_contactos {
display: flex;
width: 100%;
height: 100vh;
padding-top: 7rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
background-image: url(img/background/herocontacto.jpg);
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}

.titulo_container_contactos {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
}

.titulo_hero_contactos {
color: #FFF;
text-align: center;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 32rem;
}

.subtitulo_hero_contactos {
color: #FFF;
text-align: center;
font-family: Krub;
font-size: 1.5rem;
width: 32rem;
}


/*----------------MEDIOS DE CONTACTO---------------------*/

.container_formulario {
display: flex;
width: 100%;
padding: 9rem 0rem;
justify-content: center;
align-items: center;
gap: 4rem;
}


.container_mediosdecontacto {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2.5rem;
}

.imagenformularios {
width: 18rem;
height: 30rem;
background-color: #5555;
}

.mediosdecontacto {
display: flex;
width: 18rem;
height: 10rem;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 1rem;
background-color: #2C5746;
}

.mediosdecontacto li {
text-decoration: none;
list-style: none;
}

.lista_contactos_formularios {
color: #FFF;
font-family: Krub;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
list-style: none;
text-decoration: none;
padding-top: 3rem;
padding-bottom: 9rem;
padding-left: 2rem;
padding-right: 2rem;
}

/*----------------FORMULARIOS---------------------*/

.container_completatusdatos {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
gap: 2.5rem;
}

.completatusdatos {
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 3rem;
}

.container_rellenar {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 3em;
}

.rellenar {
display: flex;
width: 53rem;
align-items: center;
align-content: center;
gap: 3rem;
flex-wrap: wrap;
}

.container_selecciona {
display: flex;
flex-direction: column;
align-items: flex-start;
}





.suscribite {
    padding: 17px 600px 17px 30px;
    border-radius: 100px;
    background-color: #02776D;
    color: #E3D8C2;
    border: none;
    outline: none
}







.selecciona {
display: flex;
justify-content: center;
align-items: center;
gap: 3rem;
font-style: italic;
}

.selecciona_estilo {
display: flex;
gap: 0.8rem;
}

.columna_escribinos {
display: flex;
padding: 1rem;
width: 42rem;
height: 12rem;
border-radius: 30px;
background-color: #2C5746;
align-items: center;
color: #E3D8C2;
box-sizing: border-box;
}

.titulo_formularios {
color: #484848;
text-align: center;
font-family: Krub;
font-size: 1.5rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.subtitulos_formularios {
color: #484848;
font-family: Krub;
font-size: 1rem;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 1rem;
}

.estilo_input {
display: flex;
padding-bottom: 0.5rem;
align-items: center;
border-bottom: 1px solid #2C5746;
text-decoration: none;
outline: none;
border-top: none;
border-left: none;
border-right: none;
width: 8rem;
}

.estilo_input[type="checkbox"] {
appearance: none;
-webkit-appearance: none;
-moz-appearance: none;
display: inline-block;
width: 1rem;
height: 1rem;
background-color: #fff;
border-radius: 4px;
margin-right: 0.5rem;
cursor: pointer;
}

.estilo_input[type="checkbox"]:checked {
background-color: #2C5746;
}

.enviar_mensaje {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 0.5rem;
}

.boton_enviar_formulario {
display: flex;
padding: 0.625rem 1.25rem;
justify-content: center;
align-items: center;
border: 2px solid #484848;
}

::placeholder {
color: #2C5746;
font-style: italic;
outline: none;
}


.boton_enviar_formulario {
    font-family: krub;
    color: #2C5746;
    text-align: center;
    font-size: 1em;
    display: flex;
    padding: 6px 20px;
    justify-content: center;
    align-items: center;
    border: 1px solid #2C5746;
    background-color: transparent;
    cursor: pointer;
    }
    

    
    .boton_enviar_formulario:hover {
    color: #E3D8C2;
    background-color:#2C5746;
    }


/*-----------------------------------------PAGINA DE GALERIA-------------------------------------*/

.hero_container_galeria {
display: flex;
width: 100%;
height: 100vh;
padding-top: 7rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
background-image: url(img/background/herogaleria.jpg);
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}

.titulo_hero_galeria {
font-family: amarante;
color: #FFF;
text-align: center;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 32rem;
}

.descripcion_pinturas {
display: flex;
flex-direction: column;
justify-content: flex-end;
padding-left: 3rem;
padding-bottom: 3rem;
}

.descripcion_pinturas_izq {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
padding-right: 3rem;
padding-bottom: 3rem;
}

.nombre_pintura {
color:#2C5746;
font-family: amarante;
font-size: 2rem;
}

.tecnica {
color:#2C5746;
font-size: 1.5;
font-weight: bold;
}

.texto_pinturas {
padding-top: 3rem;
color:#2C5746;
font-size: 0.8rem;
width: 30rem;
}

.texto_pinturas_izq {
padding-top: 3rem;
color:#2C5746;
font-size: 0.8rem;
width: 30rem;
text-align: right;
}

.container_img_pinturas {
display: flex;
}

.container_img_pinturas_izq {
display: flex;
flex-direction: row-reverse;
}

.img_pinturas {
width: 50%;
height: auto;
}

/*----------------------------------------RESPONSIVE GALERIA OBRAS-------------------------------------*/


@media (max-width: 600px) {
    .container_img_pinturas, .container_img_pinturas_izq {
        flex-direction: column;
        justify-content: center;
        padding-bottom: 8rem;
    }

    .descripcion_pinturas {
        padding: 2rem;
    }

    .descripcion_pinturas_izq {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 2rem;
    }

    .texto_pinturas_izq, .texto_pinturas {
        text-align: start;
        width: 70vh;
    }

    .img_pinturas {
        width: 100%;
        height: auto;
    }

}

/*----------------------------------------RESPONSIVE GALERIA OBRAS-------------------------------------*/

/*-----------------------------------------PAGINA DE PROYECTOS-------------------------------------*/

.hero_container_proyectos {
display: flex;
width: 100%;
height: 100vh;
padding-top: 7rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
background-image: url(img/background/heroproyectos.jpg);
background-size: cover; 
background-position: center;
background-repeat: no-repeat;
z-index: -1;
}

.titulo_hero_proyectos {
font-family: amarante;
color: #FFF;
text-align: center;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 32rem;
}

.container_galeria_proyectos {
display: flex;
justify-content: center;
align-items: center;
align-content: center;
gap: 1rem;
flex-wrap: wrap;
margin-top: 4rem;
margin-bottom: 4rem;
}

.container_galeria_proyectos img:hover{
transform: scale(1.05);
}

/*----------------------------------------IMAGENES PROYECTOS-------------------------------------*/

.container_img_proyecto {
display: flex;
flex-direction: column;
}

.img_proyecto {
width: 100%;
height: auto;
}


/*-----------------------------------------HTML GALERIAS DE PROYECTOS-------------------------------------*/

.container_flecha_atras{
background-color: #1E3F32;
width: 100%;
}

.flecha_atras {
padding-top: 1.5rem;
padding-left: 1.5rem;
}

/*-----------------------------------------CINTURON VERDE OSCURO-------------------------------------*/
.cinturon {
display: flex;
width: auto;
padding: 3rem 0rem;
justify-content: center;
align-items: center;
background-color: #1E3F32;
flex-direction: column;
gap: 2rem;
}

.titulo_cinturon {
color: #FFF;
text-align: center;
font-size: 2rem;
font-style: normal;
font-weight: 600;
}

.subtitulo_cinturon {
text-align: center;
font-size: 1.5rem;
color: #FFF;
display: flex;
padding: 0.6rem 1.8rem;
justify-content: center;
align-items: center;
border-radius: 3rem;
border: 1px solid #FFF;
}

.texto_cinturon {
width: 60vh;
color: #D9D9D9;
text-align: center;
font-size: 1rem;
font-style: italic;
font-weight: 500;
line-height: normal;
}
/*-----------------------------------------PAGINA DE EVENTOS-------------------------------------*/

.hero_container_eventos {
position: relative;
display: flex;
width: 100%;
height: 40rem;
padding-top: 7rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 2rem;
overflow: hidden;
}

#background-video {
position: absolute;
top: 50%;
left: 50%;
width: 100%;
height: 100%;
object-fit: cover;
transform: translate(-50%, -50%);
z-index: -1;
}

.titulo_hero_eventos {
position: relative;
align-items: center;
z-index: 1;
font-family: amarante;
color: #FFF;
text-align: center;
font-size: 3rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 32rem;
}

.container_eventos {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}
.article_eventos_a, .article_eventos_b, .article_eventos_c {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.article_eventos_a:hover {
    filter: brightness(50%);
}
.article_eventos_a:hover .titulo_eventos {
    opacity: 1;
}

.article_eventos_b:hover {
    filter: brightness(50%);
}
.article_eventos_b:hover .titulo_eventos {
    opacity: 1;
}

.article_eventos_c:hover {
    filter: brightness(50%);
}
.article_eventos_c:hover .titulo_eventos {
    opacity: 1;
}

.titulo_eventos {
    position: absolute;
    font-family: amarante;
    color: white;
    font-size: 3rem;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}
.article_eventos_a {
    background-image: url(img/eventos_a.jpeg);
}
.article_eventos_b {
    background-image: url(img/eventos_b.jpg);
}
.article_eventos_c {
    background-image: url(img/eventos_c.jpg);
}

/*-----------------------------RESPONSIVE EVENTOS-----------------*/

@media (max-width: 600px) {

    

    .container_formulario {
        flex-direction: column;
        padding: 5rem 0rem;
    }
    

    .container_completatusdatos {
        padding: 2rem;
        width: auto;
    }

    .rellenar {
        flex-direction: column;
        width: auto;
    }

    .columna_escribinos {
        width: 60vh;
    }

    .gap_eventos{ 
        padding-bottom: 5rem;
    }

}

/*-----------------------------RESPONSIVE EVENTOS-----------------*/


/*-----------------------------------------FOOTER-------------------------------------*/

.footer_container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.footer_contactos {
display: flex;
width: 100%;
padding: 2rem 0;
gap: 5rem;
justify-content: center;
align-items: center;
background: #2C5746;
}




/*-------------------NAV BOTONES FOOTER--------------------*/

.container_botones {
display: flex;
width: 25rem;
justify-content: center;
align-items: flex-start;
}

.interlineado_botones_footer ul {
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 1rem;
}

.botones_footer {
display: flex;
flex-direction: column;
align-items: flex-start;
color: #FFF;
font-size: 0.8rem;
list-style: none;
text-decoration: none;
}

.botones_footer li {
text-decoration: none;
list-style: none;
}

.botones_footer a {
text-decoration: none;
color: #fff;
}

.botones_footer a:hover {
text-decoration: underline;
color: #fff;

}



/*-------------------TRABAJEMOS JUNTOS--------------------*/

.container_trabajemosjuntos {
display: flex;
padding: 1.25rem 0;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 1rem;
border-right: 1px solid #FFF;
border-left: 1px solid #FFF;
}

.titulo_trabajemos {
display: flex;
flex-direction: column;
align-items: center;
gap: 1.25rem;
color: #FFF;
}

.trabajemosjuntos {
color: #FFF;
text-align: center;
font-family: Amarante;
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 30rem;
}

.sitegustomitrabajo {
color: #FFF;
text-align: center;
font-size: 0.8rem;
font-style: normal;
line-height: normal;
}

.container_boton_quierotrabajarconvos {
display: flex;
padding: 0.625rem 1.875rem;
justify-content: center;
align-items: center;
border-radius: 3rem;
border: 1px solid #FFF;
}


.boton_quierotrabajarconvos {
color: #FFF;
text-align: center;
font-size: 1rem;
text-decoration: none;
}

.boton_quierotrabajarconvos a {
color:#FFF;
text-decoration: none;
}

.container_boton_quierotrabajarconvos:hover {
background-color: #FFF;
border-radius: 2rem;
}

.boton_quierotrabajarconvos a:hover {
color:#484848;
font-weight: bold;
background-color: #FFF;
border-radius: 2rem;
}

/*-------------------CONTACTOS Y REDES SOCIALES--------------------*/

.container_contactos {
display: flex;
width: 25rem;
height: 12rem;
justify-content: center;
align-items: center;
}

.derecha_contactos {
display: flex;
flex-direction: column;
gap: 2rem; 
}

.container_iconos_redes {
display: flex;
justify-content: flex-end;
align-items: center;
gap: 1rem;
}

.container_lista_contactos ul {
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-end;
gap: 0.9375rem;
list-style: none;
}

.lista_contactos {
color: #FFF;
font-family: Krub;
font-size: 0.8rem;
font-style: normal;
font-weight: 500;
line-height: normal;
list-style: none;
text-decoration: none;
}

.lista_estilos {
display: flex;
list-style: none;
}

.lista_contactos_italica {
color: #FFF;
font-family: Krub;
font-size: 0.8rem;
font-style: italic;
font-weight: 400;
line-height: normal;
list-style: none;
}

/*-------------------DERECHOS DE AUTOR--------------------*/

.container_derechosdeautor {
display: flex;
width: 100%;
padding: 1.25rem 0rem;
justify-content: center;
align-items: center;
gap: 20rem;
background: #1E3F32;
}

.texto_derechos {
color: #FFF;
text-align: center;
font-family: Krub;
font-size: 0.6rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}


/*-----------------------------------------FOOTER-------------------------------------*/

/*-----------------------------------------MEDIA FOOTER-------------------------------------*/

@media (max-width: 600px) {
    footer {
        flex-direction: column;
        width: 100%;
        margin: 0;
        
    }

    .footer_container{
        flex-direction: column;
        width: 100%;
        margin: 0%;
    }

    .footer_contactos{
        flex-direction: column;
        width: 100%;
        margin: 0%;
        gap: 3rem;
    }

    .container_botones{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0%;
    }

    .botones_footer{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0%;
    }

    .botones_footer li {
        font-size: 0.8rem;
    }

    .interlineado_botones_footer ul {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0%;
        gap: 1rem;
    }

    .container_trabajemosjuntos {
        border-right: none;
        border-left: none;
        border-top: 1px solid #FFF;
        border-bottom: 1px solid #FFF;
        padding: 2rem;
    }

    .container_contactos {
        height: auto;
        width: auto;
    }
    .derecha_contactos {
        flex-direction: row;
        gap: 12rem;
        align-items: flex-start;
        width: 100%;
    }

    .container_derechosdeautor {
        gap: 12rem;
    }
}

/*-----------------------------------------MEDIA FOOTER-------------------------------------*/

/*-------------------FUENTES--------------------*/

@font-face {
    font-family: "Krub-Regular";
    src: url("fonts/krub/Krub-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Amarante-Regular";
    src: url("fonts/Amarante-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

.krub-extralight {
    font-family: "Krub", sans-serif;
    font-weight: 200;
    font-style: normal;
}
.krub-light {
    font-family: "Krub", sans-serif;
    font-weight: 300;
    font-style: normal;}.krub-regular {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.krub-medium {
    font-family: "Krub", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.krub-semibold {
    font-family: "Krub", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.krub-bold {
    font-family: "Krub", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.krub-extralight-italic {
    font-family: "Krub", sans-serif;
    font-weight: 200;
    font-style: italic;
}

.krub-light-italic {
    font-family: "Krub", sans-serif;
    font-weight: 300;
    font-style: italic;
}

.krub-regular-italic {
    font-family: "Krub", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.krub-medium-italic {
    font-family: "Krub", sans-serif;
    font-weight: 500;
    font-style: italic;
}

.krub-semibold-italic {
    font-family: "Krub", sans-serif;
    font-weight: 600;
    font-style: italic;
}

.krub-bold-italic {
    font-family: "Krub", sans-serif;
    font-weight: 700;
    font-style: italic;
}

/*-------------------FUENTES--------------------*/