@charset "utf.8";
/* CSS Document */

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Poppins";
    cursor: url(img/cursor.svg), auto;
}



/*-------------------SECCION HEADER--------------------*/

.header {
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    align-items: center;
    container-type: inline-size;
    container-name: header;
}

.header_open-nav-button {
    color:black;
    font-size: 3rem;
    font-weight: 600;
    position: absolute;
    right: 10px;
}

.header_checkbox {
    display: none;
}

.header_nav {
    display: none;
    background-color: yellow;
    position: absolute;
    height: 100vh;
    width: 100vh;
    top: 0;
    z-index: -1;
    font-family: "BaumansRegular";
}

.header_nav-list {
    display: flex;
    flex-direction: column;
    height: 40vh;
    margin: auto;
    justify-content: space-evenly;
}

.header_checkbox:checked ~ .header_nav {
    display: flex;
}

.header_logo {
    max-width: 100%;
    width: 50px;
    margin: 10px 20px;
}

.header_nav-item {
    list-style: none;
}

.header_nav-item a {
    color: black;
    text-decoration: none;
    cursor: url(img/cursor.svg), auto;
}

.header_nav-item a:hover {
    color: rgb(255, 0, 55);
    font-size: 18px;

}


/*-------------------HEADER QUERIES--------------------*/


@container header (min-width:600px) {
    .header_nav {
        display: block;
        position: static;
        height: auto;
        width: auto;
        justify-content: space-between;
    }

    .header_nav-list {
        flex-direction: row;
        height: auto;
        width: auto;
        gap: 50px;
        margin-right: 40px;
    }

    .header_open-nav-button {
        display: none;
    }
}

/*-------------------FIN SECCION HEADER--------------------*/


/*--------          -----------SECCION PERFIL---------       -----------*/


/*-------------------PORTADA--------------------*/

.main_portada-container {
    width: 100%;
    height: auto;
    background-color: black;
    flex-wrap: nowrap;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    font-family: "BebasNeue-Regular";
    color: rgb(247, 247, 25);
    font-size: 25vh;
    padding-top: 34vh;
    padding-bottom: 10vh;
    cursor: url(img/cursorb.svg), auto;
}

.yosoylulu-a, .yosoylulu-b {
    padding-left: 30px;
    line-height: 1;
}

.lulu:hover {
    color: white;
}

/*-------------------SOBRE MI--------------------*/


.main_div-sobremi {
    cursor: url(img/cursorb.svg), auto;
    background-color: black;
}

.main_titulo {
    color: rgb(247, 247, 25);
    font-size: 20px;
    padding-top: 80px;
    padding-bottom: 80px;
    text-align: center;
    letter-spacing: 50px;
    font-family: "BaumansRegular";
}

.main_titulo:hover{
    color: rgb(255,0,55);
}

/*-------------------SOBRE MI--------------------*/


.flex-container {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20vh;
    flex-wrap: wrap;
}

.a-flex-item {
    padding: 30px;
}

.d {
    height: auto;
    width: 60vh;
    background-color: rgb(247, 247, 25);
    font-size: 18px;
    font-family: "Poppins";
    line-height: 1.5;
    border-radius: 20px;
}

.sobremi {
    color: black;
    font-size: 20px;
    font-family: "BaumansRegular";
    letter-spacing: 6px;
    line-height: 70px;
}

.sombraimg {
        box-shadow: 10px 10px 0px rgb(247, 247, 25);
}

/*---------------------DATOS PERSONALES----------------------*/

.fondocolores {
    background-image: url(img/fondocolores.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.another-flex-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    padding-top: 10vh;
    padding-bottom: 10vh;
    flex-wrap: wrap;
}

.flex-item{
    margin: 30px;
    padding: 20px;
    color: black;
    text-align: left;
    width: 300px;
    background-color: #FFFFED;
    border-radius: 20px;
}

.a {
    height: auto;
    font-size: 14px;
    line-height: 1.5;
}

.b {
    height: auto;
    font-size: 14px;
    line-height: 1.5;
}

.list_main {
    list-style: none;
}

.tituloarticle {
    font-size: 18px;
}

.fechas {
    color: rgb(255,0,55);
}

.tres-flex-container{
    width: 100%;
    height: auto;
    padding-bottom: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin-top: 15vh;
}

.tres-flex-item{
    margin: 30px;
    padding: 20px;
    color: black;
    text-align: left;
    background-color: #FFFFED;
    border-radius: 20px;
}

.e {
    font-size: 14px;
    line-height: 2;
}

.f {
    font-size: 14px;
    line-height: 2;
}

.g {
    font-size: 14px;
    line-height: 2;
}

.centrarlogos {
    list-style: none;
    line-height: 50px;
}

.centrarlogos li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.centrarlogos li a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
}

h3 {
    font-family: "FiraSans";
    color: rgb(247, 247, 25);
    font-size: 20px;
}

.subtitulos {
    color: rgb(247, 247, 25);
    letter-spacing: 6px;
    font-size: 22px;
    font-family: "BaumansRegular";
}

/*-------------------FOOTER--------------------*/

.contenedorcontacto {
    background-color: black;
    width: 100%;
    height: auto;
    padding-top: 20px;
    text-align: center;
    cursor: url(img/cursorb.svg), auto;
    font-family: "BaumansRegular";
}

.contactolista {
    list-style: none;
    line-height: 80px;
    padding: o;
    margin: 0;
}

.contactolista li{
    display: inline-block;
    margin-right: 50px;
    font-size: 18px;
}

.contactolista li img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

.contactolista li a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    cursor: url(img/cursorb.svg), auto;
}

.contactolista a:hover {
    font-size: 20px;
    color: rgb(247, 247, 25);
}

footer {
    padding-top: 25px;
    width: 100%;
    height: 50px;
    display: inline-block;
    font-size: 12px;
    text-align: center;
}

footer a {
    text-decoration: none;
}

.div_linea {
    display: flex;
    border-top: 1px solid white;
    line-height: 5;
    width: auto;
    justify-content: center;
    
}

.footer_end {
    color: white;
}


/*-------------------FOOTER--------------------*/


/*-------------------FUENTES--------------------*/

@font-face {
    font-family: "BebasNeue-Regular";
    src: url("fonts/BebasNeue-Regular.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "BaumansRegular";
    src: url("fonts/Baumans-Regular.ttf") format(truetype);
    font-weight: normal;
    font-style: normal;
}

/*-------------------FUENTES--------------------*/